@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'General';
    src: local('General'), url('./assets/Fonts/Outfit-VariableFont_wght.ttf') format('woff');
}
@font-face {
    font-family: 'MajorHeading';
    src: local('MajorHeading'), url('./assets/Fonts/ElsieSwashCaps-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'Heading';
    src: local('Heading'), url('./assets/Fonts/BebasNeue-Regular.ttf') format('woff');
}

body{
    cursor: default;
    background-color: #0E0F0C;
}

*{
    /* overflow-x: hidden; */
    font-family: 'General';
    color: #FFE0CB;
}

&::-webkit-scrollbar {
    width: 0%;
  }

  .backg {
    background-image: url(./assets/ImagesPort/bg.png);
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* This will center the background image */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
}




