@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'General';
    src: local('General'), url('./assets/Fonts/Outfit-VariableFont_wght.ttf') format('woff');
}
@font-face {
    font-family: 'MajorHeading';
    src: local('MajorHeading'), url('./assets/Fonts/ElsieSwashCaps-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'Heading';
    src: local('Heading'), url('./assets/Fonts/BebasNeue-Regular.ttf') format('woff');
}

body{
    cursor: default;
    background-color: #0E0F0C;
}

*{
    font-family: 'General';
    color: #FFE0CB;
}

&::-webkit-scrollbar {
    width: 0%;
  }

  .backg {
    background-image: url(./assets/ImagesPort/bg.png);
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* This will center the background image */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
}
/* 
@media only screen and (max-height: 150px){
   
} */

@media only screen and (max-width: 1024px){
    
    .yuvi{
        font-size: 7vw;
    }
    .clouds{
        height: 25vw;
        width: max-content;
    }
    .cloud2{
        margin-top: 40vw;
    }
    .Land2{
        margin-top: 15vh;
        padding: 2vw;
        overflow: hidden;
        min-height: 100vh;
    }
    .about{
        font-size: 3vw;
    }
    .foot1{
        font-size: 7vw;
    }

    .foot2{
        font-size: 2vw;
    }
    .link{
        height: fit-content;
        width: 10vw;
    }
    .yss{
        width: 60vw;
    }
    .Land3{
        min-height: 100vh;
    } 
}


/* @media only screen and (max-width: 768px){

.Land2{
    height: 100vh;
    overflow: hidden;
}
.yuvi{
    font-size: 10vw;
}
.about{
    font-size: 4vw;
    width: 40vw;
}
.cloud2{
    margin-top: 70vw;
}
.Landing3{
    flex: none;
}
.Land3{
    width: 80vw;
    height: 90vw;
    flex: none;
}
.land3cont{
    flex: none;
}
.designer{
    width: 80vw;
    flex: none;
}
.heading{
    font-size: 8vw;
}
.info{
    font-size: 4vw;
}
.item{
    font-size: 3vw;
}
} */